/.ghci
/dist/
/accelerate-examples/dist
/accelerate-buildbot/dist
/accelerate-cuda/dist/
/accelerate-cuda/config.log
/accelerate-cuda/config.status
/accelerate-cuda/cubits/accelerate_cuda_shape.h
/accelerate-io/dist/
/config.status
/config.log
/autom4te.cache/
/configure
/accelerate.buildinfo