[submodule "accelerate-io"]
	path = accelerate-io
	url = https://github.com/AccelerateHS/accelerate-io.git
[submodule "accelerate-buildbot"]
	path = accelerate-buildbot
	url = https://github.com/AccelerateHS/accelerate-buildbot.git
[submodule "accelerate-examples"]
	path = accelerate-examples
	url = https://github.com/AccelerateHS/accelerate-examples.git
[submodule "accelerate-cuda"]
	path = accelerate-cuda
	url = https://github.com/AccelerateHS/accelerate-cuda.git
[submodule "accelerate-backend-kit"]
	path = accelerate-backend-kit
	url = https://github.com/AccelerateHS/accelerate-backend-kit.git
[submodule "accelerate-fft"]
	path = accelerate-fft
	url = https://github.com/AccelerateHS/accelerate-fft.git
