# This is on a fork only for the following commit:
# https://github.com/wolfpld/tracy/commit/1a971d867d6fa5bf6dc57d705dcbbc6020031e7a
# which fixes a dumb compile error.
# When tracy publishes something > v0.10, please upgrade to that instead.
[submodule "cbits/tracy"]
	path = cbits/tracy
	url = https://github.com/tomsmeding/tracy.git
