# vim: nospell
#
# Basic template to test with GHC=[7.8, 7.10, 8.0]. Caches the 'stack' build
# directory to speed subsequent compilations.
#
language: generic
dist: precise
sudo: false

cache:
  directories:
    - $HOME/.stack

matrix:
  include:
    - env: GHC=7.8.4 CABAL=1.18
      compiler: "GHC 7.8"
      addons: { apt: { sources: [ hvr-ghc ], packages: [ libgmp-dev, cabal-install-1.18, happy-1.19.5, alex-3.1.7 ] }}

    - env: GHC=7.10.3 CABAL=1.22
      compiler: "GHC 7.10"
      addons: { apt: { sources: [ hvr-ghc ], packages: [ libgmp-dev, cabal-install-1.22, happy-1.19.5, alex-3.1.7 ] }}

    - env: GHC=8.0.2 CABAL=1.22
      compiler: "GHC 8.0"
      addons: { apt: { sources: [ hvr-ghc ], packages: [ libgmp-dev, cabal-install-1.22, happy-1.19.5, alex-3.1.7 ] }}

    - env: GHC=head CABAL=head
      compiler: "GHC HEAD"
      addons: { apt: { sources: [ hvr-ghc ], packages: [ ghc-head, cabal-install-head, happy-1.19.5, alex-3.1.7 ] }}

  allow_failures:
    - env: GHC=head CABAL=head

  fast_finish: true

before_install:
  - export PATH=/opt/cabal/$CABAL/bin:/opt/alex/3.1.7/bin:/opt/happy/1.19.5/bin:$HOME/.cabal/bin:$PATH
  - source .travis/install-stack.sh

install:
  - echo "$(ghc --version) [$(ghc --print-project-git-commit-id 2> /dev/null || echo '?')]"
  - cabal --version
  - stack --version
  - |
      if [ ${GHC} == head -o ! -e stack.yaml ]; then
        travis_retry cabal install --only-dependencies
      else
        travis_retry stack build --only-dependencies --no-terminal --no-haddock-deps
      fi

script:
  - |
      if [ ${GHC} == head -o ! -e stack.yaml ]; then
        cabal install
        cabal haddock
      else
        stack build --no-terminal --haddock --no-haddock-deps
      fi

after_success:
  - source .travis/update-accelerate-buildbot.sh

