# vim: nospell
#
# Basic template to test with GHC=[7.8, 7.10, 8.0], but also installs the
# relevant version of LLVM as (a very old version of) the CUDA toolkit (4.0).
# Caches the 'stack' build directory to speed subsequent compilations.
#
language: generic
dist: trusty
sudo: required

cache:
  timeout: 600
  directories:
    - $HOME/.stack
    - $HOME/llvm
    - .stack-work/install

addons:
  apt:
    sources: &apt_sources
      - hvr-ghc
      - ubuntu-toolchain-r-test
      - llvm-toolchain-trusty
      # - llvm-toolchain-trusty-3.5
      # - llvm-toolchain-trusty-3.6
      # - llvm-toolchain-trusty-3.7
      # - llvm-toolchain-trusty-3.8
      # - llvm-toolchain-trusty-3.9
      - sourceline: 'deb http://apt.llvm.org/trusty/ llvm-toolchain-trusty-4.0 main'
        key_url: 'http://apt.llvm.org/llvm-snapshot.gpg.key'

    packages: &apt_packages
      - alex-3.1.4
      - freeglut3-dev
      - g++-4.8
      - happy-1.19.5
      - libfftw3-dev
      - libgmp-dev
      - llvm-4.0-dev

matrix:
  include:
    - env: GHC=7.10.3 CABAL=1.22 LLVM=4.0.0 CUDA=8.0.61-1
      compiler: "GHC 7.10"
      addons:
        apt:
          sources: *apt_sources
          packages:
            - *apt_packages
            - cabal-install-1.22

    - env: GHC=8.0.2 CABAL=1.24 LLVM=4.0.0 CUDA=8.0.61-1
      compiler: "GHC 8.0"
      addons:
        apt:
          sources: *apt_sources
          packages:
            - *apt_packages
            - cabal-install-1.24

  fast_finish: true

before_install:
  - export PATH=/opt/cabal/$CABAL/bin:/opt/alex/3.1.4/bin:/opt/happy/1.19.5/bin:$HOME/.cabal/bin:$PATH
  # - |
  #     case ${LLVM} in
  #       3.5.*) source .travis/install-llvm-trusty.sh ;;
  #     esac
  - source .travis/install-cuda-trusty.sh
  - source .travis/install-stack.sh
  - source .travis/update-ghc-settings.sh
  - travis_retry stack install c2hs

install:
  - echo "$(ghc --version) [$(ghc --print-project-git-commit-id 2> /dev/null || echo '?')]"
  - cabal --version
  - stack --version
  - c2hs --version
  - llc --version; true
  - opt --version; true
  - |
      if [ ${GHC} == head -o ! -e stack.yaml ]; then
        travis_retry cabal install --only-dependencies || exit 1
      else
        travis_retry stack build --fast --only-dependencies --no-terminal --no-haddock-deps || exit 1
      fi

script:
  - |
      if [ ${GHC} == head -o ! -e stack.yaml ]; then
        cabal install || exit 1
        cabal haddock || exit 1
      else
        stack build --fast --no-terminal --haddock --no-haddock-deps || exit 1
      fi

after_success:
  - source .travis/update-accelerate-buildbot.sh

