name: ci-windows

# Trigger the workflow on push or pull request
on:
  pull_request:
    # branches: [master]
  push:
    paths:
      - '.github/workflows/ci-windows.yml'
      - 'stack*.yaml'
      - '*.cabal'
      - 'src/**'
      - 'test/**'
      - 'cbits/**'

jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        ghc:
          # - "8.10"  XXX: borked?
          - "8.8"
          - "8.6"

    steps:
      - uses: actions/checkout@v2

      - uses: actions/cache@v2
        with:
          path: C:\Users\runneradmin\AppData\Local\Programs\stack\
          key: ${{ runner.os }}-stack-local-${{ matrix.ghc }}-${{ hashFiles('**.yaml') }}
          restore-keys: |
            ${{ runner.os }}-stack-local-${{ matrix.ghc }}-

      - uses: actions/cache@v2
        with:
          path: C:\Users\runneradmin\AppData\Roaming\stack\
          key: ${{ runner.os }}-stack-global-${{ matrix.ghc }}-${{ hashFiles('**.yaml') }}
          restore-keys: |
            ${{ runner.os }}-stack-global-${{ matrix.ghc }}-

      - uses: actions/cache@v2
        with:
          path: .stack-work
          key: ${{ runner.os }}-stack-local-${{ matrix.ghc }}-${{ hashFiles('**.yaml') }}
          restore-keys: |
            ${{ runner.os }}-stack-local-${{ matrix.ghc }}-

      - name: Install stack
        run: |
          choco install haskell-stack
          mv stack-${{ matrix.ghc }}.yaml stack.yaml

      - name: Install GHC
        run: |
          stack --no-terminal setup --install-ghc

      - name: Build dependencies
        run: |
          stack --no-terminal build --ghc-options --fast --flag accelerate:nofib --test --no-run-tests --only-dependencies

      - name: Build
        run: |
          stack --no-terminal build --ghc-options --fast --flag accelerate:nofib --test --no-run-tests

      - name: Test doctest
        run: |
          stack --no-terminal test accelerate:doctest --fast --flag accelerate:nofib

      - name: Test nofib
        run: |
          stack --no-terminal test accelerate:nofib-interpreter --ghc-options --fast --flag accelerate:nofib

      - name: Test haddock generation
        run: |
          stack --no-terminal haddock --ghc-options --haddock --no-haddock-deps --no-haddock-hyperlink-source --haddock-arguments="--no-print-missing-docs" --fast --flag accelerate:nofib

